body {
    background-color: #7fbffa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

form {
    display: flex;
}

#cityInput {
    width: 13rem;
    margin-right: 1rem;
}

#tempContainer {
    display: flex;
    align-items: center;
}

#tempDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

/* @media screen and (min-width: 340px) and (max-width: 768px) {
    #cityInput {
        width: 17rem;
    }

    h2 {
        font-size: 20px;
    }
} */